.cards {
  margin-top: 30px;
  /* border: 2px solid blue; */
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 17px;
  padding: 0;
  margin-bottom: 0;
  margin-top: 51px;
  padding-left: 200px;
  padding-right: 200px;
}

@media screen and (max-width: 780px) {
  .cards__list {
    margin-top: 0;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 480px) {
  .cards__list {
    margin-top: 0;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .cards__list {
    margin-top: 0;
    margin-bottom: 36px;
  }
}
